services:
    server:
        build:
            context: .
            dockerfile: Dockerfile
            target: builder
        ports:
            - "3000:3000"
        environment:
            DATABASE_URL: postgresql://postgres:postgres@db:5432/churchconnect_db?schema=public
            NODE_ENV: production
        env_file:
            - .env
        depends_on:
            db:
                condition: service_healthy
        command: yarn start
        restart: always

    db:
        image: postgres:15.14-alpine
        ports:
            - "5432:5432"
        environment:
            POSTGRES_USER: postgres
            POSTGRES_PASSWORD: postgres
            POSTGRES_DB: churchconnect_db
        volumes:
            - churchconnect_data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        restart: always

volumes:
    churchconnect_data:
